@model Semestralka.Application.DTOs.Event.CreateEventDto

@{
    ViewData["Title"] = "Vytvořit událost";
    Layout = "_Layout";
}

<h2 class="fw-bold mb-4">Vytvořit událost</h2>

<div class="event-form">

    @if (ViewData["Error"] != null)
    {
        <div class="error mb-3">@ViewData["Error"]</div>
    }

    <form asp-action="Create" asp-controller="EventWeb" method="post">
        @Html.AntiForgeryToken()

        <!-- CalendarId -->
        <input type="hidden" asp-for="CalendarId" />

        <div class="row">
            <div class="col">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" required />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>

        <div class="inline-item">
            <label>Začátek</label>
            <input asp-for="Start"
                type="datetime-local"
                class="form-control"
                value="@Model.Start.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")"
                required />
        </div>

        <div class="inline-item">
            <label>Konec</label>
            <input asp-for="End"
                type="datetime-local"
                class="form-control"
                value="@Model.End.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")"
                required />
        </div>


        <div class="row">
            <div class="col">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-select">
                    <option value="">-- vyber kategorii --</option>

                    @if (ViewBag.Categories != null)
                    {
                        foreach (var c in (IEnumerable<Semestralka.Domain.Entities.EventCategory>)ViewBag.Categories)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="checkbox">
            <input asp-for="IsAllDay" />
            <label asp-for="IsAllDay">Celodenní událost</label>
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-primary">Vytvořit</button>
            <a href="/" class="btn btn-outline">Zpět</a>
        </div>
    </form>
</div>
