@model Semestralka.Domain.Entities.Event

@{
    ViewData["Title"] = "Upravit událost";
    Layout = "_Layout";
}

<h2 class="fw-bold mb-4">Upravit událost</h2>

<div class="event-form">

    @if (ViewData["Error"] != null)
    {
        <div class="error mb-3">@ViewData["Error"]</div>
    }

    <form method="post">

        <div class="row">
            <div class="col">
                <label>Název události</label>
                <input name="Title" type="text" value="@Model.Title" required />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Popis</label>
                <textarea name="Description">@Model.Description</textarea>
            </div>
        </div>

        <div class="inline">
            <div class="inline-item">
                <label>Začátek</label>
                <input name="StartTime" type="datetime-local"
                       value="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")" required />
            </div>

            <div class="inline-item">
                <label>Konec</label>
                <input name="EndTime" type="datetime-local"
                       value="@Model.EndTime.ToString("yyyy-MM-ddTHH:mm")" required />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Místo</label>
                <input name="Location" type="text" value="@Model.Location" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Kategorie</label>
                <select name="CategoryId">
                    <option value="">Žádná kategorie</option>

                    @if (ViewBag.Categories != null)
                    {
                        foreach (var cat in (IEnumerable<dynamic>)ViewBag.Categories)
                        {
                            if (cat.Id == Model.CategoryId)
                            {
                                <option value="@cat.Id" selected>@cat.Name</option>
                            }
                            else
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="IsAllDay" value="true" @(Model.IsAllDay ? "checked" : "") />
            <label>Celodenní událost</label>
        </div>

        <div class="actions">
            <a href="/event/delete/@Model.Id" 
            class="btn btn-danger"
            onclick="return confirm('Opravdu chceš smazat tuto událost?');">
                Smazat
            </a>

            <button class="btn btn-primary">Uložit změny</button>

            <a href="/" class="btn btn-outline">Zpět</a>

        </div>


    </form>

</div>
